In [1]:
import pandas as pd
import numpy as np

In [2]:
import requests
import json
import csv
import time

In [5]:
all_data = []
for i in range(1,11):
    url = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY_EXTENDED&symbol=TSCO&interval=60min&slice=year1month{}&adjusted=false&apikey=51CJ0F7JX8VVOM94".format(i)
    with requests.Session() as s:
        if i%4 == 0:
            time.sleep(310)
        download = s.get(url)
        decoded_content = download.content.decode('utf-8')
        cr = csv.reader(decoded_content.splitlines(), delimiter=',')
        my_list = list(cr)
        for row in my_list[1:]:
            all_data.append(row)

In [6]:
data = np.array(all_data)

In [7]:
df = pd.DataFrame(data, columns = ['time', 'open', 'high',
                                      'low', 'close', 'volume'])

In [8]:
df.head()

                  time     open      high      low    close  volume
0  2022-11-21 17:00:00   220.44    220.44   220.44   220.44   22645
1  2022-11-21 16:00:00   220.06   221.505  220.055   220.44  265069
2  2022-11-21 15:00:00   219.21    220.23    219.0   220.06   85324
3  2022-11-21 14:00:00   219.56    220.11   219.07  219.225   76767
4  2022-11-21 13:00:00  219.045  220.0635   218.92  219.505   69198

In [11]:
df.to_csv(r'data/stock_data.csv', index=False)